@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-k0f8na');
	src:url('fonts/icomoon.eot?#iefix-k0f8na') format('embedded-opentype'),
		url('fonts/icomoon.woff?-k0f8na') format('woff'),
		url('fonts/icomoon.ttf?-k0f8na') format('truetype'),
		url('fonts/icomoon.svg?-k0f8na#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jv_map_maker:before {
	content: "\e6bb";
}

.icon-jv_airport:before {
	content: "\e677";
}

.icon-jv_alert:before {
	content: "\e678";
}

.icon-jv_balcony:before {
	content: "\e679";
}

.icon-jv_bank:before {
	content: "\e67a";
}

.icon-jv_bar:before {
	content: "\e67b";
}

.icon-jv_bath:before {
	content: "\e67c";
}

.icon-jv_bed:before {
	content: "\e67d";
}

.icon-jv_bus:before {
	content: "\e67e";
}

.icon-jv_calendar:before {
	content: "\e67f";
}

.icon-jv_chef:before {
	content: "\e680";
}

.icon-jv_church:before {
	content: "\e681";
}

.icon-jv_cooking:before {
	content: "\e682";
}

.icon-jv_cutlery:before {
	content: "\e683";
}

.icon-jv_dog:before {
	content: "\e684";
}

.icon-jv_door:before {
	content: "\e685";
}

.icon-jv_elevator:before {
	content: "\e686";
}

.icon-jv_extinguisher:before {
	content: "\e687";
}

.icon-jv_fan:before {
	content: "\e688";
}

.icon-jv_fireplace:before {
	content: "\e689";
}

.icon-jv_first:before {
	content: "\e68a";
}

.icon-jv_first-aid:before {
	content: "\e68b";
}

.icon-jv_food-store:before {
	content: "\e68c";
}

.icon-jv_fork:before {
	content: "\e68d";
}

.icon-jv_garage:before {
	content: "\e68e";
}

.icon-jv_grill:before {
	content: "\e68f";
}

.icon-jv_gym:before {
	content: "\e690";
}

.icon-jv_hair-dryer:before {
	content: "\e691";
}

.icon-jv_heat:before {
	content: "\e692";
}

.icon-jv_hospital:before {
	content: "\e693";
}

.icon-jv_hotel-boy:before {
	content: "\e694";
}

.icon-jv_house:before {
	content: "\e695";
}

.icon-jv_laptop:before {
	content: "\e696";
}

.icon-jv_map-marker:before {
	content: "\e697";
}

.icon-jv_microwave:before {
	content: "\e698";
}

.icon-jv_minisplit:before {
	content: "\e699";
}

.icon-jv_movie:before {
	content: "\e69a";
}

.icon-jv_multiple:before {
	content: "\e69b";
}

.icon-jv_no-smoking:before {
	content: "\e69c";
}

.icon-jv_oven:before {
	content: "\e69d";
}

.icon-jv_oven-black:before {
	content: "\e69e";
}

.icon-jv_parking:before {
	content: "\e69f";
}

.icon-jv_pet:before {
	content: "\e6a0";
}

.icon-jv_pharmacies:before {
	content: "\e6a1";
}

.icon-jv_pool:before {
	content: "\e6a2";
}

.icon-jv_price:before {
	content: "\e6a3";
}

.icon-jv_refrigerator:before {
	content: "\e6a4";
}

.icon-jv_safebox:before {
	content: "\e6a5";
}

.icon-jv_school:before {
	content: "\e6a6";
}

.icon-jv_shield:before {
	content: "\e6a7";
}

.icon-jv_shopping:before {
	content: "\e6a8";
}

.icon-jv_shower:before {
	content: "\e6a9";
}

.icon-jv_stadium:before {
	content: "\e6aa";
}

.icon-jv_store:before {
	content: "\e6ab";
}

.icon-jv_subway:before {
	content: "\e6ac";
}

.icon-jv_surveillance:before {
	content: "\e6ad";
}

.icon-jv_swim:before {
	content: "\e6ae";
}

.icon-jv_swimming:before {
	content: "\e6af";
}

.icon-jv_swimming-pool:before {
	content: "\e6b0";
}

.icon-jv_tea:before {
	content: "\e6b1";
}

.icon-jv_telephone:before {
	content: "\e6b2";
}

.icon-jv_television:before {
	content: "\e6b3";
}

.icon-jv_toaster:before {
	content: "\e6b4";
}

.icon-jv_tree:before {
	content: "\e6b5";
}

.icon-jv_university:before {
	content: "\e6b6";
}

.icon-jv_washer:before {
	content: "\e6b7";
}

.icon-jv_washing-machine:before {
	content: "\e6b8";
}

.icon-jv_wheelchair:before {
	content: "\e6b9";
}

.icon-jv_wifi:before {
	content: "\e6ba";
}

.icon-clock:before {
	content: "\e600";
}

.icon-home:before {
	content: "\e601";
}

.icon-home2:before {
	content: "\e602";
}

.icon-forkandspoon:before {
	content: "\e603";
}

.icon-forkandknife:before {
	content: "\e604";
}

.icon-bookmark:before {
	content: "\f07b";
}

.icon-calendar:before {
	content: "\f068";
}

.icon-lock:before {
	content: "\f06a";
}

.icon-organization:before {
	content: "\f037";
}

.icon-squirrel:before {
	content: "\f0b2";
}

.icon-inbox:before {
	content: "\e605";
}

.icon-briefcase:before {
	content: "\e606";
}

.icon-cart:before {
	content: "\e607";
}

.icon-clock2:before {
	content: "\e608";
}

.icon-pencil:before {
	content: "\e609";
}

.icon-star:before {
	content: "\e60a";
}

.icon-droplet:before {
	content: "\e60b";
}

.icon-calendar-alt-stroke:before {
	content: "\e60c";
}

.icon-droplet2:before {
	content: "\e90b";
}

.icon-camera2:before {
	content: "\e90f";
}

.icon-connection:before {
	content: "\e91b";
}

.icon-compass2:before {
	content: "\e94a";
}

.icon-map2:before {
	content: "\e94b";
}

.icon-map22:before {
	content: "\e94c";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-eye-plus:before {
	content: "\e9cf";
}

.icon-speech-bubble:before {
	content: "\e076";
}

.icon-globe:before {
	content: "\e60d";
}

.icon-scissors2:before {
	content: "\e60e";
}

.icon-social-twitter:before {
	content: "\e60f";
}

.icon-social-facebook:before {
	content: "\e610";
}

.icon-th-large-outline:before {
	content: "\e611";
}

.icon-spanner-outline:before {
	content: "\e612";
}

.icon-plane-outline:before {
	content: "\e613";
}

.icon-add-shopping-cart:before {
	content: "\e614";
}

.icon-home3:before {
	content: "\e615";
}

.icon-radio:before {
	content: "\e616";
}

.icon-content-cut:before {
	content: "\e617";
}

.icon-security:before {
	content: "\e618";
}

.icon-directions-bike:before {
	content: "\e619";
}

.icon-directions-bus:before {
	content: "\e61a";
}

.icon-directions-car:before {
	content: "\e61b";
}

.icon-directions-train:before {
	content: "\e61c";
}

.icon-hotel:before {
	content: "\e61d";
}

.icon-local-airport:before {
	content: "\e61e";
}

.icon-local-bar:before {
	content: "\e61f";
}

.icon-local-cafe:before {
	content: "\e620";
}

.icon-local-car-wash:before {
	content: "\e621";
}

.icon-local-hospital:before {
	content: "\e622";
}

.icon-local-hotel:before {
	content: "\e623";
}

.icon-local-restaurant:before {
	content: "\e624";
}

.icon-local-shipping:before {
	content: "\e625";
}

.icon-map:before {
	content: "\e626";
}

.icon-my-location:before {
	content: "\e627";
}

.icon-school:before {
	content: "\e628";
}

.icon-barbell:before {
	content: "\e629";
}

.icon-aircraft-landing:before {
	content: "\e673";
}

.icon-aircraft-take-off:before {
	content: "\e674";
}

.icon-drive:before {
	content: "\e62a";
}

.icon-location:before {
	content: "\e62b";
}

.icon-scissors:before {
	content: "\e62c";
}

.icon-calendar2:before {
	content: "\e62d";
}

.icon-calendar3:before {
	content: "\e62e";
}

.icon-camera:before {
	content: "\e62f";
}

.icon-drink:before {
	content: "\e630";
}

.icon-drink2:before {
	content: "\e631";
}

.icon-coffee:before {
	content: "\e632";
}

.icon-mug:before {
	content: "\e633";
}

.icon-inbox2:before {
	content: "\e634";
}

.icon-download:before {
	content: "\e635";
}

.icon-health:before {
	content: "\e636";
}

.icon-suitcase:before {
	content: "\e637";
}

.icon-checkmark:before {
	content: "\e638";
}

.icon-cloud:before {
	content: "\e675";
}

.icon-alarm:before {
	content: "\e639";
}

.icon-phone:before {
	content: "\e63a";
}

.icon-graduate:before {
	content: "\e63b";
}

.icon-lab:before {
	content: "\e63c";
}

.icon-microwave:before {
	content: "\e63d";
}

.icon-refrigerator:before {
	content: "\e63e";
}

.icon-oven:before {
	content: "\e63f";
}

.icon-washingmachine:before {
	content: "\e640";
}

.icon-medal:before {
	content: "\e641";
}

.icon-medal2:before {
	content: "\e642";
}

.icon-diamond:before {
	content: "\e643";
}

.icon-tools:before {
	content: "\e644";
}

.icon-screwdriver:before {
	content: "\e645";
}

.icon-brush:before {
	content: "\e646";
}

.icon-equalizer:before {
	content: "\e647";
}

.icon-library:before {
	content: "\e648";
}

.icon-auction:before {
	content: "\e649";
}

.icon-justice:before {
	content: "\e64a";
}

.icon-scissors3:before {
	content: "\e64b";
}

.icon-profile:before {
	content: "\e64c";
}

.icon-profile2:before {
	content: "\e64d";
}

.icon-dollar:before {
	content: "\e64e";
}

.icon-dollar2:before {
	content: "\e64f";
}

.icon-bookmark2:before {
	content: "\e650";
}

.icon-addressbook:before {
	content: "\e651";
}

.icon-rain:before {
	content: "\e652";
}

.icon-snow:before {
	content: "\e653";
}

.icon-lightning:before {
	content: "\e654";
}

.icon-sun:before {
	content: "\e655";
}

.icon-moon:before {
	content: "\e656";
}

.icon-cloudy:before {
	content: "\e657";
}

.icon-cloudy2:before {
	content: "\e658";
}

.icon-car:before {
	content: "\e659";
}

.icon-bike:before {
	content: "\e65a";
}

.icon-truck:before {
	content: "\e65b";
}

.icon-bus:before {
	content: "\e65c";
}

.icon-bike2:before {
	content: "\e65d";
}

.icon-paperplane:before {
	content: "\e676";
}

.icon-book:before {
	content: "\e65e";
}

.icon-flag:before {
	content: "\e024";
}

.icon-lightbulb:before {
	content: "\e030";
}

.icon-strategy:before {
	content: "\e03b";
}

.icon-map-pin:before {
	content: "\e047";
}

.icon-heart:before {
	content: "\e04a";
}

.icon-cloud2:before {
	content: "\e04b";
}

.icon-food:before {
	content: "\e65f";
}

.icon-modem:before {
	content: "\e660";
}

.icon-camera3:before {
	content: "\e661";
}

.icon-camera4:before {
	content: "\e662";
}

.icon-movie:before {
	content: "\e663";
}

.icon-shield:before {
	content: "\e664";
}

.icon-user:before {
	content: "\e665";
}

.icon-user2:before {
	content: "\e666";
}

.icon-user3:before {
	content: "\e667";
}

.icon-cart2:before {
	content: "\e668";
}

.icon-settings:before {
	content: "\e669";
}

.icon-medicine:before {
	content: "\e66a";
}

.icon-food2:before {
	content: "\e66b";
}

.icon-drink3:before {
	content: "\e66c";
}

.icon-cup:before {
	content: "\e66d";
}

.icon-drink4:before {
	content: "\e66e";
}

.icon-lollipop:before {
	content: "\e66f";
}

.icon-lab2:before {
	content: "\e670";
}

.icon-droplet3:before {
	content: "\e671";
}

.icon-factory:before {
	content: "\e672";
}

.icon-shopping-cart:before {
	content: "\f07a";
}

.icon-twitter-square:before {
	content: "\f081";
}

.icon-facebook-square:before {
	content: "\f082";
}

.icon-stethoscope:before {
	content: "\f0f1";
}

.icon-suitcase2:before {
	content: "\f0f2";
}

.icon-bell:before {
	content: "\f0f3";
}

.icon-coffee2:before {
	content: "\f0f4";
}

.icon-cutlery:before {
	content: "\f0f5";
}

.icon-hospital-o:before {
	content: "\f0f8";
}

.icon-desktop:before {
	content: "\f108";
}

.icon-youtube-play:before {
	content: "\f16a";
}

.icon-instagram:before {
	content: "\f16d";
}

.icon-automobile:before {
	content: "\f1b9";
}

.icon-tree:before {
	content: "\f1bb";
}

.icon-wifi:before {
	content: "\f1eb";
}

.icon-bus2:before {
	content: "\f207";
}

